<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Hancock Storage Manager homepage.</title>
</head>
<body>
<h1>Landing Page</h1><br />
<p1>This is the initial landing page. It will give you options on where to go.</p1><br />
<a href="/failures">1. Click here to see a summary of current systemwide failures.</a><br />
<a href="/overview">2. Click here to see an overview of all monitored equipment.</a><br />
<a href="/statistics">3. Click here to see some statistics</a>
</body>
</html>